In [2]:
import os
import pandas as pd
os.chdir(r"C:\Users\user\jupyter\python\preprocessing\데이터")

In [3]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python")

In [4]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [15]:
pt1 = pd.pivot_table(df, index = ['제품', '쇼핑몰 유형'],  values = '판매금액', aggfunc = 'mean')
pt1.shape
pt2 = pd.pivot_table(df, index = ['제품'], columns = '쇼핑몰 유형' , values = '판매금액', aggfunc = 'mean')
print(pt1.shape, pt2.shape)
# 차이점 multi index를 가지냐 가지지 않느냐. multi index는 나중에 시각화나 전처리할 때 번거로울 수 있기 때문에 그냥 single index를 사용해보자.

(762, 1) (100, 8)

In [23]:
pt2 = pd.pivot_table(df, index = ['제품', '쇼핑몰 유형'],values = ['판매금액', '수량'], aggfunc = 'mean')
pt2.loc['제품_02'] # 한가지 차이점. sinle index는 모든 제품에 대하여 쇼핑몰 유형을 보여주어야 하기 때문에 결측치가 존재할 수 있다. 


# multi index는 각 제품별로 판매되었던 쇼핑몰 유형만을 보여 줄 수 있다.

        쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0        쿠팡  제품_16   8  1134400     쿠팡
1        쿠팡  제품_57   8   439200     쿠팡
2        쿠팡  제품_25   4   495200     쿠팡
3        쿠팡  제품_18   4   578000     쿠팡
4        쿠팡  제품_90   2    75000     쿠팡
...     ...    ...  ..      ...    ...
5810  애견아우랫  제품_41   5   696500   동물병원
5811  애견아우랫  제품_98   6   590400   동물병원
5812  애견아우랫  제품_77   5   512500   동물병원
5813  애견아우랫  제품_04   6   256200   동물병원
5814  애견아우랫  제품_39   7    72800   동물병원

[5815 rows x 5 columns]

In [26]:
pt3 = pd.pivot_table(df, index = ['제품'], columns = ['쇼핑몰 유형'],values = ['판매금액', '수량'], aggfunc = 'mean')
pt3.loc["제품_02"]

      쇼핑몰 유형
수량    동물병원           4.933333
      온라인II          6.666667
      온라인사이트         4.000000
      유통대리점          5.500000
      전시회            9.000000
      쿠팡             6.000000
      할인점            4.500000
      할인점II               NaN
판매금액  동물병원       79920.000000
      온라인II     108000.000000
      온라인사이트     64800.000000
      유통대리점      89100.000000
      전시회       145800.000000
      쿠팡         97200.000000
      할인점        72900.000000
      할인점II               NaN
Name: 제품_02, dtype: float64