#### for문 기초 예제

In [1]:
L = [1, 2, 3, 4, 5]
for l in L:
    print(l)
    if l == 3:
        break   # break의 경우 보통 if문과 같이 사용된다. 특정 조건을 만족시킬때, 루프를 탈출 시킨다.

1
2
3

##### 대표적인 iterator 객체 생성 함수.-----. range나 itertools 등은 리스트나 튜플이 아니라 순회만 가능한 객체이다.

In [1]:
# range(start, end, step). 보통 갑을 하나만 넣으면 end로 인식된다. 값을 두개 넣으면 start와 end로 인식된다. 이때, step default는 1이다. start는 시작 위치가 아니고 시작 값을 의미한다.
list(range(1, 5, 2))

[1, 3]

In [2]:
for x in range(1, 5, 2):
    print(x)

1
3

In [5]:
# range 함수를 사용한 구구단 
# nested for문
for i in range(2,10):
    for j in range(1, 10):
        print("{}*{} = {}".format(i, j, i*j))
    print('\n')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18


3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27


4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36


5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45


6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54


7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63


8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72


9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

#### itertools 모듈 사용 예제

In [28]:
import itertools
import time

In [38]:
for i, j in itertools.product(range(2,10), range(1,10)):
    print('{}*{} = {}'.format(i, j, i*j))

2*1 = 2


2*2 = 4


2*3 = 6


2*4 = 8


2*5 = 10


2*6 = 12


2*7 = 14


2*8 = 16


2*9 = 18


3*1 = 3


3*2 = 6


3*3 = 9


3*4 = 12


3*5 = 15


3*6 = 18


3*7 = 21


3*8 = 24


3*9 = 27


4*1 = 4


4*2 = 8


4*3 = 12


4*4 = 16


4*5 = 20


4*6 = 24


4*7 = 28


4*8 = 32


4*9 = 36


5*1 = 5


5*2 = 10


5*3 = 15


5*4 = 20


5*5 = 25


5*6 = 30


5*7 = 35


5*8 = 40


5*9 = 45


6*1 = 6


6*2 = 12


6*3 = 18


6*4 = 24


6*5 = 30


6*6 = 36


6*7 = 42


6*8 = 48


6*9 = 54


7*1 = 7


7*2 = 14


7*3 = 21


7*4 = 28


7*5 = 35


7*6 = 42


7*7 = 49


7*8 = 56


7*9 = 63


8*1 = 8


8*2 = 16


8*3 = 24


8*4 = 32


8*5 = 40


8*6 = 48


8*7 = 56


8*8 = 64


8*9 = 72


9*1 = 9


9*2 = 18


9*3 = 27


9*4 = 36


9*5 = 45


9*6 = 54


9*7 = 63


9*8 = 72


9*9 = 81

In [29]:
# itertools.product 예제 - 순회 가능한 여러개의 객체를 순서대로 순회하는 이터레이터를 생성해준다. 
count = 0
start_time = time.time()
for a, b, c in itertools.product(range(5), range(5), range(5)):
    print(a, b, c)
    
end_time = time.time()
print(end_time - start_time)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4
0.00752711296081543

In [30]:
# 위 코드와 같은 방식으로 동작하는 코드
start_time = time.time()
for a in range(5):
    for b in range(5):
        for c in range(5):
            print(a, b, c)
        print('\n')
end_time = time.time()
print(end_time-start_time)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4


0 1 0
0 1 1
0 1 2
0 1 3
0 1 4


0 2 0
0 2 1
0 2 2
0 2 3
0 2 4


0 3 0
0 3 1
0 3 2
0 3 3
0 3 4


0 4 0
0 4 1
0 4 2
0 4 3
0 4 4


1 0 0
1 0 1
1 0 2
1 0 3
1 0 4


1 1 0
1 1 1
1 1 2
1 1 3
1 1 4


1 2 0
1 2 1
1 2 2
1 2 3
1 2 4


1 3 0
1 3 1
1 3 2
1 3 3
1 3 4


1 4 0
1 4 1
1 4 2
1 4 3
1 4 4


2 0 0
2 0 1
2 0 2
2 0 3
2 0 4


2 1 0
2 1 1
2 1 2
2 1 3
2 1 4


2 2 0
2 2 1
2 2 2
2 2 3
2 2 4


2 3 0
2 3 1
2 3 2
2 3 3
2 3 4


2 4 0
2 4 1
2 4 2
2 4 3
2 4 4


3 0 0
3 0 1
3 0 2
3 0 3
3 0 4


3 1 0
3 1 1
3 1 2
3 1 3
3 1 4


3 2 0
3 2 1
3 2 2
3 2 3
3 2 4


3 3 0
3 3 1
3 3 2
3 3 3
3 3 4


3 4 0
3 4 1
3 4 2
3 4 3
3 4 4


4 0 0
4 0 1
4 0 2
4 0 3
4 0 4


4 1 0
4 1 1
4 1 2
4 1 3
4 1 4


4 2 0
4 2 1
4 2 2
4 2 3
4 2 4


4 3 0
4 3 1
4 3 2
4 3 3
4 3 4


4 4 0
4 4 1
4 4 2
4 4 3
4 4 4


0.008514642715454102

In [8]:
# zip의 경우는 동시 출력을 한다. 
for a, b, c in zip(range(5), range(5), range(5)):
    print(a, b, c)

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

In [13]:
# itertools.combination 예제
# L에서 2개로 이뤄진 가능한 모든 조합 뽑기 - 반환된 값들은 튜플이다. 
L = ['a', 'b', 'c', 'd']
for comb in itertools.combinations(L, 2):
    print(comb)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')

tuple

In [21]:
# L에서 가능한 모든 조합 뽑기
len(L)+1
for r in range(1, len(L) + 1):   # 1부터 시작하여서 4까지 출력하고 싶은 상황
    for comb in itertools.combinations(L, r):   # 1개,2개, 3개, 4개 조합을 뽑고 싶은 상황. 
        print(comb)

('a',)
('b',)
('c',)
('d',)
('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')
('a', 'b', 'c')
('a', 'b', 'd')
('a', 'c', 'd')
('b', 'c', 'd')
('a', 'b', 'c', 'd')

In [39]:
# L에서 가능한 모든 순열 뽑기 - 순서 고려하기 
for r in range(1, len(L)+1):
    for comb in itertools.permutations(L, r):
        print(comb)

('a',)
('b',)
('c',)
('d',)
('a', 'b')
('a', 'c')
('a', 'd')
('b', 'a')
('b', 'c')
('b', 'd')
('c', 'a')
('c', 'b')
('c', 'd')
('d', 'a')
('d', 'b')
('d', 'c')
('a', 'b', 'c')
('a', 'b', 'd')
('a', 'c', 'b')
('a', 'c', 'd')
('a', 'd', 'b')
('a', 'd', 'c')
('b', 'a', 'c')
('b', 'a', 'd')
('b', 'c', 'a')
('b', 'c', 'd')
('b', 'd', 'a')
('b', 'd', 'c')
('c', 'a', 'b')
('c', 'a', 'd')
('c', 'b', 'a')
('c', 'b', 'd')
('c', 'd', 'a')
('c', 'd', 'b')
('d', 'a', 'b')
('d', 'a', 'c')
('d', 'b', 'a')
('d', 'b', 'c')
('d', 'c', 'a')
('d', 'c', 'b')
('a', 'b', 'c', 'd')
('a', 'b', 'd', 'c')
('a', 'c', 'b', 'd')
('a', 'c', 'd', 'b')
('a', 'd', 'b', 'c')
('a', 'd', 'c', 'b')
('b', 'a', 'c', 'd')
('b', 'a', 'd', 'c')
('b', 'c', 'a', 'd')
('b', 'c', 'd', 'a')
('b', 'd', 'a', 'c')
('b', 'd', 'c', 'a')
('c', 'a', 'b', 'd')
('c', 'a', 'd', 'b')
('c', 'b', 'a', 'd')
('c', 'b', 'd', 'a')
('c', 'd', 'a', 'b')
('c', 'd', 'b', 'a')
('d', 'a', 'b', 'c')
('d', 'a', 'c', 'b')
('d', 'b', 'a', 'c')
('d', 'b', 'c', 'a')
('d', 'c', 'a', 'b')
('d', 'c', 'b', 'a')

#### List comprehension: for 문을 사용하여 한 줄로 리스트를 효과적으로 생성하는 방법.

In [12]:
L1 = [x for x in range(10)]
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
L1 = []
for x in range(10):
    L1.append(x)
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
L2 = [x**2 for x in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
L3 = [x**2 for x in range(10) if x%2 == 0]  # 2로 나눈 나머지가 0인 값만 제곱 변환하여 리스트에 넣어라. 
L3

[0, 4, 16, 36, 64]

In [15]:
L3 = []
for x in range(10):
    if x%2 == 0:
        L3.append(x**2)
L3

[0, 4, 16, 36, 64]

In [32]:
X = [1, 2, 3, 'a', 'b']
Y = [3, 1, 2, 'c', 4]

L4 = [x + y for x, y in itertools.product(X, Y) if type(x) == type(y) == int] # x, y 조합 중에서 타입이 정수로 똑같은 경우만 더해서 리스트에 더하라. product를 사용하면 굳이 for문을 두개 쓸 필요가 없구나
L4

[4, 2, 3, 5, 5, 3, 4, 6, 6, 4, 5, 7]

#### dictionary comprehension

In [50]:
dic1 = {x:y for x, y in zip(range(10), range(10))}
dic1

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [16]:
dic = {1:'NaN', 2:2, 3:4, 4:'NaN'}
dic2 = {x:y for x, y in dic.items() if y != 'NaN'}  # dic 재분리 후 조건에 맞는 것만 골라내기. 밑 코드와 비교하면, 굳이 빈 딕셔너리를 생성할 필요가 없고 이것에 조건에 맞는 값을 추가할 필요가 없다. 
dic2

{2: 2, 3: 4}

In [17]:
dic2 = dict()
for x, y in dic.items():
    if y != 'NaN':
        dic2[x] = y

In [18]:
dic2

{2: 2, 3: 4}