In [1]:
import os
import pandas as pd
os.chdir(r"C:\Users\user\jupyter\python\preprocessing\데이터")

In [2]:
df = pd.read_excel("불량 기록 데이터.xlsx")

In [13]:
df.head() # 시리얼 번호 = 공정 - 제품 - 식별자
df['불량 여부'].unique()

array(['양품', '불량'], dtype=object)

In [4]:
df['불량 여부'].value_counts()

양품    715
불량     41
Name: 불량 여부, dtype: int64

In [7]:
# 공정이 S인 제품의 개수
df['시리얼번호'].str.contains('S').sum()+df['시리얼번호'].str.contains('T').sum()

756

In [10]:
df['시리얼번호'].str.split('-', expand = True) # 하이픈 기준 분할

     0  1    2
0    S  A  001
1    S  A  002
2    S  A  003
3    S  A  004
4    S  A  005
..  .. ..  ...
751  T  B  237
752  T  B  238
753  T  B  239
754  T  B  240
755  T  B  241

[756 rows x 3 columns]

In [11]:
# 분할한 데이터 붙이기
merged_df = pd.concat([df, df['시리얼번호'].str.split('-', expand = True)], axis = 1)
merged_df.head()

     시리얼번호 불량 여부  0  1    2
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [ ]:
#merged_df.columns = ['A1', 'A2', 'A3', 'A4', 'A5']

In [25]:
# 컬럼명 변경
merged_df.rename({0:"공정", 1:"제품", 2:"식별자"}, axis = 1, inplace = True)  # 특정
merged_df.head()

     시리얼번호 불량 여부 공정 제품  식별자
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [26]:
merged_df.loc[merged_df['불량 여부'] == '양품']

       시리얼번호 불량 여부 공정 제품  식별자
0    S-A-001    양품  S  A  001
1    S-A-002    양품  S  A  002
2    S-A-003    양품  S  A  003
3    S-A-004    양품  S  A  004
4    S-A-005    양품  S  A  005
..       ...   ... .. ..  ...
750  T-B-236    양품  T  B  236
751  T-B-237    양품  T  B  237
752  T-B-238    양품  T  B  238
753  T-B-239    양품  T  B  239
755  T-B-241    양품  T  B  241

[715 rows x 5 columns]

In [27]:
pd.pivot_table(merged_df.loc[merged_df['불량 여부'] == '양품'], values = '불량 여부', index = '공정', columns = '제품', aggfunc = 'count')
# 불량품 중에서 공정, 제품별 개수를 파악하고 싶다.

제품    A    B
공정
S   126  178
T   178  233